@font-face {
	font-family: 'HARRIERB';
	src: url('../fonts/HARRIERB/HARRIERB.eot');
	src: local('☺'), url('../fonts/HARRIERB/HARRIERB.woff') format('woff'),
		url('../fonts/HARRIERB/HARRIERB.ttf') format('truetype'),
		url('../fonts/HARRIERB/HARRIERB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*******ICONS**************/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icon/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/icon/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/icon/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/icon/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;  /* Preferred icon size */
	  display: inline-block;
	  line-height: 1;
	  text-transform: none;
	  letter-spacing: normal;
	  word-wrap: normal;
	  white-space: nowrap;
	  direction: ltr;

	  /* Support for all WebKit browsers. */
	  -webkit-font-smoothing: antialiased;
	  /* Support for Safari and Chrome. */
	  text-rendering: optimizeLegibility;

	  /* Support for Firefox. */
	  -moz-osx-font-smoothing: grayscale;

	  /* Support for IE. */
	  font-feature-settings: 'liga';
}
/*^^^^^^^^^ICONS^^^^^^^^^^^^^*/

.font_tigra {
	font-family: 'HARRIERB';
}

body, html {
	font-family: sans-serif;
	font-size: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'HARRIERB';
}

.wrapper, #app {
	min-width: 60rem;
	max-width: 100rem;
	margin:0 auto;
	height: 100%;
	position: relative;
}

/***********header**************/
.navBar {
	position:relative;
}

.navBarAdmin, .tabs {
	overflow: hidden;
}

.logoBar {
	position:absolute;
	top:0;
	left:0;
	height:4rem;
}

.logo {
	display: inline-block;
	background: url('../img/logo.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 4rem;
	width: 6rem;
}
.logo__moto {
	padding-left: 1rem;
	cursor: default;
}

/*logoBar height=4rem*/

/*^^^^^^^^^^header^^^^^^^^^^^^^*/
.container_hight {
	height: calc(100% - 4rem);
	margin-bottom: 0;
	position:relative;
}
/***********userPanel***********/
.userPanel {
	display: inline-block;
	//height: 100%;
	box-sizing: border-box;
	//border-right: 0.3rem solid #b71c1c;
}

/*^^^^^^^^^userPanel^^^^^^^^^*/

/* label color */
	.input-field label::after 
	input[type="password"]:focus:not([readonly]) + label{
		color: #b71c1c;
	}
/* label focus color */
	.input-field input[type=text]:focus + label,
	.input-field input[type=password]:focus + label,
	.input-field label{
 		color: #000000;
	}

/* valid color */
	.input-field input[type=text].valid,
	.input-field input[type=password].valid {
 	border-bottom: 1px solid #1b5e20;
 	box-shadow: 0 1px 0 0 #1b5e20;
	}

	.input-field input[type=text]:focus,
	.input-field input[type=password]:focus {
		border-bottom: 1px solid #9e9e9e;
 		box-shadow: 0 1px 0 0 #9e9e9e;
	}
/* invalid color */
	.input-field input[type=text].invalid {
 	border-bottom: 1px solid #000000;
 	box-shadow: 0 1px 0 0 #000000;
}
/* icon prefix focus color */
	.input-field .prefix.active {
 	color: #b71c1c;
	}

.content{
	display: inline-block;
    border-left: 0.3rem solid #b71c1c;
}

.content__header{
	height: 5rem;
}
	.input__btn{
		height: 5rem;
		width: 100%;
		line-height: 5rem;
		font-size: 2rem;
		color: ;
	}
/* .btn {
 	border:0.1rem solid #b71c1c;
 }*/
.modalLogin {
	width: 30rem;
}

.modalError {
	width: 25rem;
	overflow: hidden;
}

.modalAddUser {
	max-width: 30rem;
}

.modalSetingUser {
	max-width: 30rem;
}

.modalSuccess {
	max-width: 25rem;
}

.modalSettingGroup, .modalSettingModel{
	max-width: 25rem;
}

.modalLogin__button {
	margin:0.5rem 1rem 1rem !important;
}


.photo__icon {
	-webkit-transition: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
	transition: all .2s linear 0s;
	cursor: pointer;
}

.photo__icon:hover {
	color:#b71c1c;
	/*-o-transform: scale(1,2);
  	-ms-transform: scale(1,2);
  	-moz-transform: scale(1,2);
  	-webkit-transform: scale(1,2);
 	transform: scale(1,2);*/
}

.highlight td {
	cursor: pointer;
}


.photo {
	box-sizing: border-box;
	display: inline-block;
	padding: 0.5rem;
	margin-left: -4px;
}

.pagination li.active {
	background-color: #b71c1c;
}

.content__footer{
	position:relative;
	bottom: 0;
	width: 100%;
}

/************Table user history**************/
	/**************calendar*****************/
		.picker { outline: none; }
		/* Header - Day of the week */
		.picker__weekday-display {background-color: #b71c1c; } /*#b71c1c red darken-4*/
		/* Body - Today info */
		.picker__date-display { background-color: #e53935; } /* #e53935 red darken-1 */
		/* Buttons of actions */
		.picker__nav--prev:hover { background-color: #ffebee; } /*#ffebee red lighten-5*/
		.picker__nav--next:hover { background-color: #ffebee; } 
		.picker__nav--prev:before {
		  border-left: 0;
		  border-right: 0.75em solid #b71c1c;
		}
		.picker__nav--next:before {
		  border-right: 0;
		  border-left: 0.75em solid #b71c1c;
		}
		.picker__today { color: #b71c1c; }
		.picker__clear { /* If you want to customize */ }
		.picker__close { color:#b71c1c; }
		.btn-flat.picker__today:active { background-color: #fff3e0; }
		.btn-flat.picker__close:active { background-color: #fff3e0; }
		.btn-flat.picker__clear:active { background-color: #fff3e0; }
		/* Select months of the year */
		.picker__select--month.browser-default {
		  display: inline;
		  background-color: #FFFFFF;
		  width: 34%;
		  border: none;
		  outline: none;
		}
		/* Every month of the year except: today */
		.picker__day { /* If you want to customize */ }
		.picker__day:hover { /* If you want to customize */ }
		.picker__day--infocus:hover { color: #b71c1c; }
		.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: #ffffff; }
		.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color:  #b71c1c; }
		/* Today */
		.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #b71c1c; }
		.picker__day.picker__day--today { color: #b71c1c; }
		/*input*/
		.datepicker.picker__input{
			width: 6rem;
			line-height: 1rem;
		}
	/*^^^^^^^^^^^^^calendar^^^^^^^^^^^^^^^^*/
	
	input[type=text].picker__input{
		margin:0 auto;
		box-sizing: border-box;
		height: 1.5rem;
		line-height: 1.5rem;
	}

	table .select-wrapper input.select-dropdown {
		height: 1.5rem;
		line-height: 1.5rem;
		margin:0 auto;
		padding: 0;	
	}

	th {
		padding:0 5px;
	}

/*^^^^^^^^^^^^Table user history^^^^^^^^^^^*/

ul.dropdown-content.select-dropdown li span {
    color: #000000; 
    //font-weight: 400;
}

.tabs .indicator {
	background-color: #b71c1c;
}

/*.add__user::after, .add__user::before {
	content:'';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #b71c1c;
	margin:0.5rem;
}*/

.modal .modal-footer{
	padding:0 1.5rem;
	line-height: 4rem;
}

.modalSetingUser .btn-large i{
	font-size: 2.5rem;
}

.btn-floating.btn-small{
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-top:-3px;
}

.btn-floating.btn-small i{
	font-size: 1.2rem;
	line-height: 1.5rem;
}